block vars
	-var headerCss = null;
	-var title = 'layout';

doctype 5
html(lang="ru")
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet", href="/css/style.css", media="all")

	body
		block content

		#footer

